.wrapper {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25vw;
}

.form {
	height: 50vh;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputText {
	width: 100%;
	height: 45px;
	border-radius: 8px;
	border: 1px solid gray;
	padding: 0 10px;
}

.input {
	width: 100%;
	height: 45px;
	border: none;
	padding: 0 10px;
}

.passWrapp {
	margin: 5px 0;
	border: 1px solid gray;
	overflow: hidden;
	width: 100%;
	height: 45px;
	border-radius: 8px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.passCtrl {
	cursor: pointer;
	width: 50px;
	font-size: 20px;
	height: 100%;
	background-color: var(--color-accent);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-dark);
}

.btn {
	height: 45px;
	width: 100%;
	cursor: pointer;
	background-color: var(--color-dark);
	color: var(--color-white);
	font-weight: 600;
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:disabled {
	background-color: var(--color-disabled);
	cursor: not-allowed;
}

.logo {
	width: 150px;
	height: auto;
}

.cover {
	background-image: url("/cover.webp");
	height: 100vh;
	width: 75vw;
	border-radius: 20px 0 0 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.err {
	border-radius: 10px;
	padding: 5px 10px;
	width: 90%;
	margin: 10px 0;
	text-align: center;
	background-color: var(--color-accent);
	color: var(--color-white);
	font-size: 12px;
}

@media (max-width: 1025px) {
	.content {
		width: 100%;
	}
	.cover {
		display: none;
	}
}
